:host {
  background-image: url('https://i.picsum.photos/id/156/1800/1200.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  color: #fff;
  height: 100vh;
  padding-bottom: 40px;
}